html, body {
  height: 100vh;
}

.ax00100678be3 {
  margin: 0;
  position: relative;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  width: 194px;
  flex-shrink: 0;
}


.minimize01Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ax00100678be3Parent,
.minimize01Wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.minimize01Wrapper {
  cursor: pointer;
  border: 0;
  padding: 6px;
  background-color: var(--color-light-purple);
  border-radius: 50px;
  width: 29px;
  height: 29px;
  align-items: flex-start;
  justify-content: flex-start;
}
.ax00100678be3Parent {
  align-self: stretch;
  border-bottom: 2px solid var(--sx-dark);
  padding: 0 0 var(--padding-xl) 0;
  align-items: center;
  justify-content: space-between;
  min-height: 38px;
}
.userNamesWallet {
  position: relative;
  font-weight: 500;
}
.frameDiv,
.nameParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.nameParent {
  flex-direction: row;
  padding: 0 var(--padding-xl);
  justify-content: space-between;
}
.frameDiv {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: 13px;
}
.userNamesWalletParent {
  gap:10px;
}
.frameContainer,
.userNamesWalletGroup,
.userNamesWalletParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userNamesWalletGroup {
  gap: var(--gap-10xs);
}
.frameContainer {
  gap: 20px;
  font-size: var(--font-size-mid);
  padding: 0 var(--padding-xs) 0 var(--padding-xs) ;
}
.placeholderIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  font-size: var(--font-size-sml);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--text-xs-semibold);
  color: var(--base-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--color-light-purple);
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.buttonWrapper,
.frameGroup {
  display: flex;
  flex-direction: column;
}
.buttonWrapper {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xs);
  align-items: flex-end;
  justify-content: flex-end;
}
.frameGroup {
  border-radius: var(--br-s);
  background-color: #fafafa;
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  height: 100%;
  min-height: 700px;
  padding: 15px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);

}
.frameIcon {
  position: relative;
  width: 106px;
  height: 335px;
  overflow: hidden;
  flex-shrink: 0;
}
.mainNode {
  position: absolute;
  margin: 0 !important;
  top: 93px;
  left: 14.5px;
  border-radius: 50%;
  background-color: var(--color-light-purple);
  width: 93px;
  height: 93px;
  z-index: 0;
}

.text1 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}

.frame,
.frameIcon1 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  width: 123px;
  height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frameIcon1 {
  position: relative;
  width: 86px;
  height: 397px;
}
.frameParent1 {
  flex: 1;
  height: 100%;
  border: 2px solid var(--color-black);
  max-width: 600px;
  min-width: 500px;
}


.frameParent,
.visualGraph {
  background-color: var(--base-white);
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  padding: var(--padding-2xl) 0 var(--padding-2xl) 0;
  flex-wrap: wrap;
  align-self: stretch;
  flex-direction: row;
  margin-bottom: 100px;
  align-items: center;
  gap: 74px;
  height: 100%;
  justify-content: center;
}
.visualGraph {
  position: relative;
  width: 100%;
  height: 100%;
  
  flex-direction: column;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
  font-size: 21px;
  color: var(--sx-dark);
  font-family: var(--text-xs-semibold);
}
