/* Error.module.css */

/* Container for the error content */
.errorContainer {
  text-align: center;
  padding: 2rem;
}

/* Styling for the error heading */
.errorHeading {
  font-size: 2rem;
  color: #333; /* Change the color to your preference */
  margin-bottom: 1rem;
}

/* Styling for the error message */
.errorMessage {
  font-size: 1.2rem;
  color: #777; /* Change the color to your preference */
}

.link {
  font-size: 16px;
  background-color: var(--primary-600); /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: var(--primary-600); /* Change to your desired background color on hover */
}
