@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --text-xs-semibold: Inter;

  /* font sizes */
  --font-size-sml: 13px;
  --font-size-mid: 15px;
  --font-size-xl: 18px;

  --font-size-big2: 30px;
  --font-size-big3: 45px;

  /* Colors */
  --grey: #3f4b5d;
  --outline: #dee5ed;
  --base-white: #fff;
  --color-black: #000;
  --primary-600: #7f56d9;
  --color-lavender: #e8e7f1;
  --color-light-purple: #6b6dea;

  /* Gaps */

  --gap-5xs: 5px;
  --gap-8xs: 8px;
  --gap-10xs: 10px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-13xl: 32px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-xs: 10px;
  --padding-xl: 20px;
  --padding-2xl: 30px;
  --padding-5xl: 80px;

  /* border radiuses */
  --br-s: 10px;
  --br-xs: 8px;

  /* Effects */
  --basic-shadow: 0px 7px 14px #d3dae2;
}

#root {
  height: 100%;
}
